@import "tailwindcss";

:root {
    --background: #D1DCE4;
    --content: #FFFFFF;
    --foreground: #000000;

    --primary-100: #85A0B3;
    --primary-200: #47708C;
    --primary-300: #0A4267;
    --primary-400: #08314D;
    --primary-500: #062134;

    --secondary-100: #F0B480;
    --secondary-200: #E88F3F;
    --secondary-300: #E06A00;
    --secondary-400: #A95000;
    --secondary-500: #713501;

    --success-100: #9FE1BB;
    --success-200: #6ED399;
    --success-300: #3FC377;
    --success-400: #2F945A;
    --success-500: #20623C;

    --danger-100: #FF9FA0;
    --danger-200: #FF7070;
    --danger-300: #FF4141;
    --danger-400: #C13131;
    --danger-500: #802021;

    --warning-100: #FDD99D;
    --warning-200: #FEC76D;
    --warning-300: #FFB43D;
    --warning-400: #BF882E;
    --warning-500: #7E5A1E;

    --neutral-100: #7F7F7F;
    --neutral-200: #3F3F3F;
    --neutral-300: #212121;
    --neutral-400: #1C1C1C;
    --neutral-500: #000000;
}

.dark {
    --background: #08314D;
    --content: #031019;
    --foreground: #e7e7e7;

    --primary-100: #85A0B3;
    --primary-200: #47708C;
    --primary-300: #0A4267;
    --primary-400: #08314D;
    --primary-500: #062134;

    --secondary-100: #F0B480;
    --secondary-200: #E88F3F;
    --secondary-300: #E06A00;
    --secondary-400: #A95000;
    --secondary-500: #713501;

    --success-100: #9FE1BB;
    --success-200: #6ED399;
    --success-300: #3FC377;
    --success-400: #2F945A;
    --success-500: #20623C;

    --danger-100: #FF9FA0;
    --danger-200: #FF7070;
    --danger-300: #FF4141;
    --danger-400: #C13131;
    --danger-500: #802021;

    --warning-100: #FDD99D;
    --warning-200: #FEC76D;
    --warning-300: #FFB43D;
    --warning-400: #BF882E;
    --warning-500: #7E5A1E;

    --neutral-100: #7F7F7F;
    --neutral-200: #3F3F3F;
    --neutral-300: #212121;
    --neutral-400: #1C1C1C;
    --neutral-500: #000000;
}

@theme {
    --font-sans: "Poppins", sans-serif;

    --color-background: var(--background);
    --color-content: var(--content);
    --color-foreground: var(--foreground);

    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);

    --color-secondary-100: var(--secondary-100);
    --color-secondary-200: var(--secondary-200);
    --color-secondary-300: var(--secondary-300);
    --color-secondary-400: var(--secondary-400);
    --color-secondary-500: var(--secondary-500);

    --color-success-100: var(--success-100);
    --color-success-200: var(--success-200);
    --color-success-300: var(--success-300);
    --color-success-400: var(--success-400);
    --color-success-500: var(--success-500);

    --color-danger-100: var(--danger-100);
    --color-danger-200: var(--danger-200);
    --color-danger-300: var(--danger-300);
    --color-danger-400: var(--danger-400);
    --color-danger-500: var(--danger-500);

    --color-warning-100: var(--warning-100);
    --color-warning-200: var(--warning-200);
    --color-warning-300: var(--warning-300);
    --color-warning-400: var(--warning-400);
    --color-warning-500: var(--warning-500);

    --color-neutral-100: var(--neutral-100);
    --color-neutral-200: var(--neutral-200);
    --color-neutral-300: var(--neutral-300);
    --color-neutral-400: var(--neutral-400);
    --color-neutral-500: var(--neutral-500);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}